.vs/
SistemaJobs/obj/Debug/SistemaJobs.csprojAssemblyReference.cache
SistemaJobs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SistemaJobs/obj/Debug/SistemaJobs.csproj.CoreCompileInputs.cache
SistemaJobs/obj/Debug/SistemaJobs.csproj.FileListAbsolute.txt
SistemaJobs/obj/Debug/SistemaJobs.csprojAssemblyReference.cache
SistemaJobs/obj/Debug/SistemaJobs.dll
SistemaJobs/obj/Debug/SistemaJobs.pdb
SistemaJobs/obj/Debug/TempPE/SistemaJobsEF.Designer.cs.dll
SistemaJobs/obj/Debug/TempPE/SistemaJobsEF.cs.dll
SistemaJobs/obj/Debug/edmxResourcesToEmbed/SistemaJobsEF.csdl
SistemaJobs/obj/Debug/edmxResourcesToEmbed/SistemaJobsEF.msl
SistemaJobs/obj/Debug/edmxResourcesToEmbed/SistemaJobsEF.ssd