body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 60px;
    padding-right: 60px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.lbl-custom {
    font-size: 1.2em !important;
    color: #385898
}

.txt-custom {
    font-size: 1.2em !important;
}

.btn-custom {
    background: #385898 !important;
    border: none !important;
    color: #ffffff;
    padding: 5px 30px 5px 30px !important;
}

.hr-custom {
    border: 0 !important;
    height: 1px !important;
    background: #333 !important;
    background-image: linear-gradient(to right, #ccc, #333, #ccc) !important;
    margin: 50px 0 60px 0 !important;
}

.a-custom-voltar {
    background: #808080 !important;
    border: none !important;
    color: #ffffff;
    padding: 7px 30px 7px 30px !important;
}

.a-custom-voltar:hover {
    color: #ffffff;
    text-decoration: none;
}