@model IEnumerable<SistemaJobs.Portfolio>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:70px !important; color: #385898;">Portfólio</h2>
<p>
    @if (Session["tipoUsuario"].ToString() == "funcionario")
    {
        @Html.ActionLink("Novo Item", "Create")
    }
</p>
<hr class="hr-custom" />

<div class=row>
    @foreach (var item in Model)
    {
    <div class="col-md-2" style="text-align:center;margin-bottom:30px;">
        <img src="~/Images/@(item.Imagem)" class="img-size" />
        <div class="descricao-port">
            @Html.DisplayFor(modelItem => item.Titulo)
        </div>
        @Html.ActionLink("+ Ver detalhes ", "Details", new { id = item.IdPorfolio }, htmlAttributes: new { @class = "font-detalhes" }) @if (Session["tipoUsuario"].ToString() == "funcionario") { @Html.ActionLink("| Excluir", "Delete", new { id = item.IdPorfolio }, htmlAttributes: new { @class = "font-detalhes" }) }
    </div>
    }
</div>
<hr class="hr-custom" />
