@model IEnumerable<SistemaJobs.ViewModels.VmUsuarioConversa>

<h2 style="margin-top:70px !important; color: #385898;">Conversas</h2>
<hr class="hr-custom" />

    @foreach (var item in Model)
    {
        var idDest = "";

        if (Session["usuarioLogadoID"].ToString() == item.IdRemetenteInicial.ToString())
        {
            idDest = item.IdDestinatario.ToString();
        }
        else
        {
            idDest = item.IdRemetenteInicial.ToString();
        }

        <div class="row conversa">
            <div class="col-md-6">
                <b>Destinatário:</b> 
                @Html.DisplayFor(modelItem => item.Usuario)
            </div>
            <div class="col-md-6">
                <span>@Html.ActionLink("Ver Mensagens", "Index", "Mensagens", new { IdConversa = item.IdConversa, idDestinatario = idDest, tipo = Session["tipoUsuario"] }, null)</span>
                @if (item.NaoLida > 0)
                {
                    <span style="margin-left:20px;"><b style="color:#999;">@item.NaoLida nova(s) mensagem(ns)</b></span>
                }
                @*@Html.ActionLink("Details", "Details", new { id = item.IdConversa }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdConversa })*@
            </div>
        </div>
    }

