@model SistemaJobs.Empresa

<div class="well">
    <table style="width: -webkit-fill-available">
        <tr>
            <td>
                @Model.Email
                <br />
                @Model.CNPJ
            </td>
            <td style="text-align: right;">
                <a class="btn btn-primary btn-large">
                    <strong>Ver Mais</strong>
                </a>
                <p style="margin-top:20px">x profissionais demonstraram interesse</p>
            </td>
        </tr>
    </table>
</div>
