@model SistemaJobs.VagaProjeto

<div class="well">
    <table style="width: -webkit-fill-available">
        <tr>
            <td>
                @Model.Titulo
                <br />
                @if (Model.Cargos.Nome == "vazio")
                {
                    <p>Salário: R$ @Model.SalarioOrcamento</p>
                }
                else
                {
                    <p>Orçamento: R$ @Model.SalarioOrcamento</p>
                }
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Ver Mais", "Details", new { id = Model.IdVagaProjeto }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
                <p style="margin-top:20px">x profissionais demonstraram interesse</p>
            </td>
        </tr>
    </table>
</div>
