@model IEnumerable<SistemaJobs.Mensagem>

<div class="row">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="talk-bubble tri-right border round left-top">
                    <div class="talktext">
                        <p>Tek</p>
                    </div>
                </div>
            </div>
        }
</div>
