@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3 style="margin-top:80px;">@ViewBag.Message</h3>

<img src="/Images/logo-hiredit.png" />
<hr class="hr-custom" />
<img src="~/Images/working.jpg" style="max-width:100%;" />
